
// $header-bg-from-site: #2a3647;
$header-bg-from-pdf-task: #3f4246;
$white-color: #fff;
$grey-color: #ccc;
$light-grey-color: #ebebeb;
$text-color-dark: #192435;
$text-color-grey: #757577;
$green-color: #6adc7c;
$color-error: red;

$desktop-breakpoint: '1200px';